<p-accordion>
	<p-accordionTab header="Destinazione" [selected]="true">
		<ul class="list">
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Abruzzo <em>10</em> </span> </label> </div>
			</li>
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Friuli Venezia Giulia <em>8</em> </span> </label> </div>
			</li>
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Lombardia <em>9</em> </span> </label> </div>
			</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Servizi">
		<ul class="list">
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Centro benessere <em>10</em> </span> </label> </div>
			</li>
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Novità <em>8</em> </span> </label> </div>
			</li>
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Spiaggia  <em>9</em> </span> </label> </div>
			</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Trattamento">
		<ul class="list">
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Pensione completa con bevande  <em>10</em> </span> </label> </div>
			</li>
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Mezza pensione  <em>8</em> </span> </label> </div>
			</li>
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>Soft All Inclusive  <em>9</em> </span> </label> </div>
			</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Categoria">
		<ul class="list">
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>
						<span class="stars"> <em>*</em> <em>*</em> <em>*</em> <em>*</em> <em class="superior">S</em> </span>
						<em>10</em> </span> </label>
				</div>
			</li>
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>
						<span class="stars"> <em>*</em> <em>*</em> <em>*</em> <em>*</em> </span>
						<em>8</em> </span> </label>
				</div>
			</li>
			<li class="list--item">
				<div class="checkbox"> <label> <input name="order" type="checkbox"><span>
						<span class="stars"> <em>*</em> <em>*</em> <em>*</em> </span>
						<em>9</em> </span> </label>
				</div>
			</li>
		</ul>
	</p-accordionTab>
</p-accordion>
