<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">{{ 'regions.headline' | translate }}</h1>
	</div>
</div>

<form>
	<div class="form-group row">
		<label for="RegionName" class="col-sm-2 col-form-label">{{ 'regions.addRegion' | translate }}</label>
		<div class="col-sm-10">
			<div class="input-group mb-3">
				<input class="form-control" name="RegionName" #regionName placeholder="{{ 'regions.regionName' | translate }}" />
				<div class="input-group-append">
					<button type="button" class="btn btn-primary float-right" (click)="add(regionName.value); regionName.value=''">{{ 'app.add' | translate }}</button>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<a class="col-sm-4" *ngFor="let region of regions" [routerLink]="region.slug | route">
		<div class="card">
			<img class="card-img-top" src="https://picsum.photos/480/360/?random" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{region.name}}</h5>
				<p class="card-text">{{ 'region.description' | translate }}</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">{{ 'region.lastUpdated' | translate }}</small>
			</div>
		</div>
		<br>
	</a>
</div>

<ul class="list-group">
	<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let region of regions">
		<a [routerLink]="['region', region.id] | route">
			<span class="badge badge-primary">{{region.id}}</span> {{region.name}}
		</a>
		<a class="btn btn-outline-primary float-right" title="delete region" (click)="delete(region)">x</a>
	</li>
</ul>
