<h2>Regions</h2>

<div>
	<label>Region name:
    <input #regionName />
  </label>
	<!-- (click) passes input value to add() and then clears the input -->
	<button (click)="add(regionName.value); regionName.value=''">
    add
  </button>
</div>

<ul class="regions">
	<li *ngFor="let region of regions">
		<a routerLink="/region/{{region.id}}">
      <span class="badge">{{region.id}}</span> {{region.name}}
    </a>
		<button class="delete" title="delete region" (click)="delete(region)">x</button>
	</li>
</ul>
