@import "~scss/variables";

/*--------------------------------------------------
Top Header
--------------------------------------------------*/

.top-header {
	line-height: 1;
	height: 3px;

	img {
		line-height: 1;
		vertical-align: text-top;
		width: 100%;
		height: 100%;
	}
}


/*--------------------------------------------------
Header
--------------------------------------------------*/

.header {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;

		@include sm-down {
			padding-top: 7px;
			padding-bottom: 7px;
			padding-right: 7px;
		}
	}

	.logo {
		flex: 0 0 89px;

		img {
			width: 89px;
			height: 45px;
		}
	}

	.desktop-navbar {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include sm-down {
			display: none;
		}

		.navbar-nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style: none;
			padding: 0 15px;

			.nav-item {
				font-size: 13px;
				padding: 0 15px;

				a {
					color: $tit-color;
					text-decoration: none;
				}
			}
		}

		.btn {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}

	.mobile-navbar {
		display: none;

		@include sm-down {
			display: flex;
			justify-content: flex-end;
		}

		.nav-item {
			padding: 0 8px;

			a {
				color: $tertiary-color;
				text-align: center;
				text-decoration: none;

				span {
					display: block;
					text-transform: uppercase;
					font-size: 9px;
					margin-top: 5px;
					line-height: 1;
				}
			}

			.ico {
				display: block;
				margin: 0 auto;
				width: 20px;
				height: 20px;
				fill: $tertiary-color;
			}

			.nav-toggle {
				background: none;
				border: none;
				padding: 0;
				text-align: center;
				color: $tertiary-color;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				cursor: pointer;

				&--bars {
					margin: 0 auto;
					padding-top: 3px;
					position: relative;
					z-index: 1;
					width: 28px;
					height: 20px;

					span {
						border-radius: 1px;
						display: block;
						width: 100%;
						height: 2px;
						background-color: $tertiary-color;
						margin-bottom: 4px;
						margin-top: 0;
					}
				}

				span {
					display: block;
					text-transform: uppercase;
					font-size: 9px;
					line-height: 1;
				}
			}
		}
	}
}
