<div class="top-header"><img src="assets/img/top.png" alt=""></div>
<header class="header">
	<div class="container">
		<a href="" [routerLink]="'' | route" class="logo">
			<img src="assets/img/logo-eurospin-viaggi.png" alt="Logo Eurospin Viaggi">
		</a>
		<div class="desktop-navbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'' | route" routerLinkActive="active">{{ 'header.homepage' | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'regions' | route" routerLinkActive="active">{{ 'header.destinations' | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'categories' | route" routerLinkActive="active">{{ 'header.categories' | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'informations' | route" routerLinkActive="active">{{ 'header.informations' | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'gift-card' | route" routerLinkActive="active">{{ 'header.giftCard' | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'contacts' | route" routerLinkActive="active">{{ 'header.contacts' | translate }}</a>
				</li>
			</ul>
			<div class="navbar-actions">
				<a class="btn btn__tertiary" [routerLink]="'accedi' | route" routerLinkActive="active">{{ 'header.signIn' | translate }}</a>
			</div>
		</div>
		<div class="mobile-navbar">
			<div class="nav-item">
				<a href="">
					<svg class="ico">
						<use xlink:href="#ico-tel"></use>
					</svg><span>Chiama</span>
				</a>
			</div>
			<div class="nav-item">
				<a href="">
					<svg class="ico">
						<use xlink:href="#ico-user"></use>
					</svg><span>Accedi</span>
				</a>
			</div>
			<div class="nav-item">
				<button class="nav-toggle">
					<div class="nav-toggle--bars">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<span>Menu</span>
				</button>
			</div>
		</div>
	</div>
</header>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
			<a class="navbar-brand" [routerLink]="'' | route">
			<img [src]="'bootstrap-solid.svg' | asset" width="30" height="30" class="d-inline-block align-top" alt="Brand"> <span> Brand</span>
		</a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'' | route" routerLinkActive="active">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'regions' | route" routerLinkActive="active">{{ 'header.regions' | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'profile' | route" routerLinkActive="active">{{ 'header.profile' | translate }}</a>
				</li>
			</ul>
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="dropdown = !dropdown">
				<span>{{currentLanguage?.name}}</span>
			</button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" [ngClass]="{ 'show': dropdown }">
					<button type="button" class="dropdown-item btn" *ngFor="let language of languages" (click)="dropdown = false; setLanguage(language)">{{language.name}}</button>
				</div>
			</div>
		</nav> -->
<!--
<b>{{clock$ | json}}</b>
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="dropdown = !dropdown">
				<span>{{currentLanguage?.name}}</span>
			</button>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" [ngClass]="{ 'show': dropdown }">
				<button type="button" class="dropdown-item btn" *ngFor="let language of languages" (click)="dropdown = false; setLanguage(language)">{{language.lang}}</button>
			</div>
		</div>
		<button type="button" class="btn btn-primary" [routerLink]="'accedi' | route" routerLinkActive="active"><span>{{ 'header.signIn' | translate }}</span></button>
-->
