@import "~scss/variables";

/*--------------------------------------------------
Popup Hint
--------------------------------------------------*/

.popup-hint {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 59px;
	background: #fff;
	width: 100%;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .15);
	min-width: 202px;
	display: none;

	.active & {
		display: block;
	}

	@include md-down {
		min-width: 100%;
	}

	@include xs-down {
		top: 50px;
	}

	@include xs-down {
		width: calc(200% + 10px);
		min-width: 0;
	}

	&--head {
		background: $primary-color;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 12px;

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			left: 10px;
			top: -6px;
			border-bottom: 6px solid $primary-color;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;

			@include xxs-down {
				left: 5px;
			}
		}

		h3 {
			font-size: 14px;
			margin: 0;
			font-weight: 600;
		}
	}

	&--close {
		display: flex;
		cursor: pointer;
		opacity: .5;

		&:hover {
			opacity: 1;
		}

		svg {
			fill: #fff;
			width: 18px;
			height: 18px;
		}
	}

	&--body {
		max-height: 300px;
		overflow-y: auto;

		@include xxs-down {
			max-height: 70vh;
		}
	}

	&--list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&--item {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		z-index: 1;
		color: $tit-color;
		padding: 6px 15px 6px 32px;
		border-bottom: 1px solid $border-color;
		cursor: pointer;

		&.active {
			background-color: #d8eeff;
		}
	}

	&--check {
		border-bottom: 1px solid $border-color;
		cursor: pointer;

		label {
			padding: 12px 12px;
			margin-bottom: 0;

			input {
				&+span {
					color: $text-color;

					&:before {
						top: 11px;
						left: 11px;
					}

					&:after {
						top: 14px;
						left: 14px;
					}
				}
			}
		}

		&:hover {
			background-color: #d8eeff;
		}
	}

	&--tit {
		font-size: 14px;
		font-weight: 400;
		flex: 1 0 100%;
		margin: 0;
		padding: 0;
		line-height: 1.2;
		padding: 2px 0;
	}

	&--ico {
		position: absolute;
		z-index: 1;
		left: 8px;
		top: 8px;

		svg {
			width: 16px;
			height: 16px;
			fill: #7f7f7f;
		}
	}

	&--info {
		flex: 1 0 100%;
		font-size: 9px;
		display: flex;
		justify-content: space-between;
	}
}


/*--------------------------------------------------
Popup Hint Destination
--------------------------------------------------*/

.popup-hint__destination {
	width: 100%;

	@include xxs-down {
		width: 100%;
		min-width: 0;
	}
}
