<form class="main-search" name="mainSearch" role="form" novalidate autocomplete="off" #mainSearch="ngForm">
	<!-- DESTINATION -->
	<div class="main-search--col main-search--location" [ngClass]="{'active':active==searchLocation}">
		<div (click)="active = searchLocation" #searchLocation>
			<label for="main-search--location">Destinazione</label>

			<input type="text" id="main-search--location" placeholder="Cerca località, regione, tipologia o nome hotel" [value]="search.model.destination.name" (focus)="search.model.query = null; search.model.destination = null; destinationDirty = null;" *ngIf="search.model.destination">
			<input type="search" id="main-search--location" placeholder="Cerca località, regione, tipologia o nome hotel" name="query" [(ngModel)]="search.model.query" [hidden]="search.model.destination" #query>
			<span class="reset">
				<svg>
					<use xlink:href="#ico-reset"></use>
				</svg>
			</span>
			<span class="ico">
				<svg>
					<use xlink:href="#ico-pin"></use>
				</svg>
			</span>
		</div>
		<!-- LAST DESTINATIONS -->
		<div class="popup-hint popup-hint__last-search popup-hint__destination" #lastSearch *ngIf="!destinationDirty && search.lastDestinations?.length">
			<div class="popup-hint--head">
				<h3>Le tue ultime ricerche</h3>
				<div class="popup-hint--close" (click)="active=null">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<destination-hint [destinations]="search.lastDestinations" [height]="46" (selectDestination)="onDestinationSet($event)"></destination-hint>
		</div>
		<!-- AUTOCOMPLETE DESTINATIONS -->
		<div class="popup-hint popup-hint__autocomplete popup-hint__destination" #autocomplete *ngIf="(destinationDirty || !search.lastDestinations?.length) && !search.model.destination">
			<destination-hint [destinations]="search.destinations" [query]="search.model.query" [height]="46" (selectDestination)="onDestinationSet($event)"></destination-hint>
		</div>
	</div>
	<!-- DATE -->
	<div class="main-search--col main-search--date" [ngClass]="{'active':active==searchDate}">
		<div class="main-search--trigger" (click)="active = searchDate" #searchDate>
			<label for="main-search--date">Data di partenza</label>
			<input class="with-reset" disabled type="text" id="main-search--date" placeholder="Seleziona una data" [value]="model.startDate | date:'dd MMMM yyyy'">
			<span class="reset">
				<svg>
					<use xlink:href="#ico-reset"></use>
				</svg>
			</span>
			<input disabled type="text" id="main-search--date" placeholder="Seleziona una data" [value]="search.model.startDate | date:'dd MMMM yyyy'">
			<span class="ico">
				<svg>
					<use xlink:href="#ico-calendar"></use>
				</svg>
			</span>
		</div>
		<div class="popup-hint popup-hint__date">
			<div class="popup-hint--head">
				<h3>Seleziona la data di partenza</h3>
				<div class="popup-hint--close" (click)="active=null">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<div class="popup-hint--body">
				<div class="popup-hint--flexible-date">
					<div class="checkbox">
						<label>
							<input checked type="checkbox" name="flexibleDates" [(ngModel)]="search.model.flexibleDates" />
							<span>Date flessibili +/- 3 giorni?</span>
						</label>
					</div>
				</div>
				<div class="calendar popup-calendar">
					<p-calendar name="startDate" [(ngModel)]="search.model.startDate" [inline]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="search.calendar.minYear + ':' + search.calendar.maxYear" [minDate]="search.calendar.minDate" [maxDate]="search.calendar.maxDate" [locale]="search.calendar.it" dateFormat="dd/mm/yy"></p-calendar>
				</div>
			</div>
		</div>
	</div>
	<!-- DURATION -->
	<div class="main-search--col main-search--duration" [ngClass]="{'active':active==searchDuration}">
		<div class="main-search--trigger" (click)="active = searchDuration" #searchDuration>
			<label for="main-search--duration">Durata viaggio</label>
			<input disabled id="main-search--duration" type="text" class="main-search--duration-input" [value]="model.duration.name">
			<input disabled id="main-search--duration" type="text" class="main-search--duration" [value]="search.model.duration.name">
			<span class="ico">
				<svg>
					<use xlink:href="#ico-clock"></use>
				</svg>
			</span>
		</div>
		<div class="popup-hint popup-hint__duration">
			<div class="popup-hint--head">
				<h3>Seleziona la durata del tuo viaggio</h3>
				<div class="popup-hint--close" (click)="active=null">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<div class="popup-hint--body">
				<ul class="popup-hint--list">
					<li class="popup-hint--check" *ngFor="let duration of search.durations">
						<div class="radio">
							<label>
								<input name="main-search--duration" type="radio" name="duration" [value]="duration" [(ngModel)]="search.model.duration"/>
								<span>{{duration.name}}</span>
							</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ADULTS -->
	<div class="main-search--col main-search--adults" [ngClass]="{'active':active==searchAdults}">
		<div class="main-search--trigger" (click)="active=searchAdults" #searchAdults>
			<label for="main-search--adults">Adulti</label>
			<input disabled id="main-search--adults" type="text" [value]="search.model.adults" #adults>
			<span class="ico">
				<svg>
					<use xlink:href="#ico-adult"></use>
				</svg>
			</span>
		</div>
		<div class="popup-hint popup-hint__adults">
			<div class="popup-hint--head">
				<h3>Numero di adulti</h3>
				<div class="popup-hint--close" (click)="active=null">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<div class="popup-hint--body">
				<div class="spinner-input">
					<strong for="">Adulti</strong>
					<p-spinner size="10" readonly name="adults" [(ngModel)]="search.model.adults" [min]="1" [max]="10"></p-spinner>
				</div>
			</div>
		</div>
	</div>
	<!-- CHILDS -->
	<div class="main-search--col main-search--childs" [ngClass]="{'active':active==searchChilds}">
		<div class="main-search--trigger" (click)="active=searchChilds" #searchChilds>
			<label for="main-search--childs">Bambini</label>
			<input disabled id="main-search--childs" type="text" [value]="search.model.childs" #childs>
			<span class="ico">
				<svg>
					<use xlink:href="#ico-child"></use>
				</svg>
			</span>
		</div>
		<div class="popup-hint popup-hint__childs">
			<div class="popup-hint--head">
				<h3>Numero di bambini</h3>
				<div class="popup-hint--close" (click)="active=null">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<div class="popup-hint--body">
				<div class="spinner-input">
					<strong>Bambini</strong>
					<p-spinner size="10" readonly name="childs" [(ngModel)]="search.model.childs" [min]="0" [max]="4" (onChange)="search.onChildsChanged()"></p-spinner>
				</div>
				<div class="child-ages">
					<div class="child-age" *ngFor="let child of search.model.childrens; let index = $index">
						<strong>Età bambino {{index}}</strong>
						<div class="custom-select">
							<select dir="rtl" name="age" [(ngModel)]="child.age">
								<option *ngFor="let age of search.ages" [value]="age">{{age}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SEARCH -->
	<div class="main-search--col main-search--submit">
		<button type="button" class="btn" (click)="onSubmit()">{{ 'app.search' | translate }}</button>
	</div>
</form>
