@import "~scss/variables";

/*--------------------------------------------------
Main Search
--------------------------------------------------*/

.main-search {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	z-index: 10;

	&--col {
		flex: 0 0 auto;
		position: relative;
		z-index: 1;
		background: #fff;
		padding: 5px 10px 10px 10px;
		margin-right: 1px;
		min-width: 70px;

		&.active {
			z-index: 10;
		}

		@include xs-down {
			padding-bottom: 7px;
			padding-right: 0;
			padding-left: 5px;
		}

		label {
			display: block;
			color: $secondary-color;
			font-size: 11px;
			font-weight: 400;
			margin: 0 0 9px 0;
			padding: 0;
			line-height: 1.1;

			@include xs-down {
				font-size: 10px;
				margin-bottom: 5px;
			}
		}
	}

	&--location {
		flex-grow: 1;

		@include md-down {
			width: 100%;
			margin: 0 0 10px 0;
		}
	}

	&--date {
		flex-shrink: 1;

		@include md-down {
			width: calc(50% - 5px);
			margin: 0 5px 10px 0;
		}
	}

	&--duration {
		flex-shrink: 1;

		@include md-down {
			width: calc(50% - 5px);
			margin: 0 0 10px 5px;
		}
	}

	&--adults {
		flex-shrink: 1;

		@include md-down {
			width: calc(25% - 10px);
			margin: 0 5px 0 0;
		}

		@include xxs-down {
			width: calc(50% - 5px);
			margin: 0 5px 10px 0;
		}
	}

	&--childs {
		flex-shrink: 1;

		@include md-down {
			width: calc(25% - 5px);
			margin: 0 5px 0 5px;
		}

		@include xxs-down {
			width: calc(50% - 5px);
			margin: 0 0 10px 5px;
		}
	}

	&--submit {
		flex-grow: 0;
		flex-shrink: 1;
		background: none;
		display: flex;
		margin: 0;
		padding: 0;

		button {
			font-size: 16px;
			width: 100%;
			padding-left: 40px;
			padding-right: 40px;

			@include xs-down {
				font-size: 14px;
			}
		}

		@include md-down {
			width: calc(50% - 5px);
			margin: 0 0 0 5px;
		}

		@include xxs-down {
			width: 100%;
			margin: 0;
			height: 48px;
		}

	}


	input[type="text"],
	input[type="search"],
	select {
		position: relative;
		z-index: 10;
		border: none;
		background: transparent;
		padding: 0;
		margin: 0;
		width: 100%;
		outline: 0;
		box-shadow: none;
		color: $tit-color;
		font-size: 15px;
		padding-left: 20px;
		appearance: none;

		&::placeholder {
			color: $tit-color;
			opacity: 1;
		}

		@include xs-down {
			font-size: 13px;
			padding-left: 23px;
		}

		@include xxs-down {
			padding-left: 21px;
		}

	}

	.ico {
		position: absolute;
		left: 10px;
		top: 29px;
		display: block;
		width: 16px;
		height: 16px;

		@include xs-down {
			top: 24px;
			left: 7px;
		}

		@include xxs-down {
			left: 5px;
		}

		svg {
			fill: $primary-color;
			width: 100%;
			height: 100%;
		}
	}
}


/*--------------------------------------------------
Popup Hint
--------------------------------------------------*/

.popup-hint {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 59px;
	background: #fff;
	width: 100%;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .15);

	@include xs-down {
		top: 50px;
	}

	&--head {
		background: $primary-color;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 12px;

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			left: 10px;
			top: -6px;
			border-bottom: 6px solid $primary-color;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
		}

		h3 {
			font-size: 14px;
			margin: 0;
			font-weight: 600;
		}
	}

	&--close {
		display: flex;
		cursor: pointer;
		opacity: .5;

		&:hover {
			opacity: 1;
		}

		svg {
			fill: #fff;
			width: 18px;
			height: 18px;
		}
	}

	&--body {
		max-height: 300px;
		overflow-y: auto;

		@include xxs-down {
			max-height: 70vh;
		}
	}

	&--list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&--item {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		z-index: 1;
		color: $tit-color;
		padding: 6px 15px 6px 32px;
		border-bottom: 1px solid #e0e0e0;
		cursor: pointer;

		&:hover {
			background-color: #d8eeff;
		}
	}

	&--tit {
		font-size: 14px;
		font-weight: 400;
		flex: 1 0 100%;
		margin: 0;
		padding: 0;
		line-height: 1.2;
		padding: 2px 0;
	}

	&--ico {
		position: absolute;
		z-index: 1;
		left: 8px;
		top: 8px;

		svg {
			width: 16px;
			height: 16px;
			fill: #7f7f7f;
		}
	}

	&--info {
		flex: 1 0 100%;
		font-size: 9px;
		display: flex;
		justify-content: space-between;
	}
}


/*--------------------------------------------------
Popup Hint Date
--------------------------------------------------*/

.popup-hint__date {
	min-width: 345px;
}

.popup-hint--flexible-date {
	padding: 15px 12px;
	border-bottom: 1px solid #e0e0e0;

	label {
		color: $text-color;
		line-height: 1.2;
		margin: 0;
		padding: 0;
	}
}
