<div class="main-search">
	<div class="main-search--col main-search--location">
		<label for="main-search--location">Destinazione</label>
		<input type="search" id="main-search--location" placeholder="Cerca località, regione, tipologia o nome hotel">
		<span class="ico">
			<svg>
				<use xlink:href="#ico-pin"></use>
			</svg>
		</span>
	</div>
	<div class="main-search--col main-search--date">
		<label for="main-search--date">Data di partenza</label>
		<input type="text" id="main-search--date" placeholder="Seleziona una data">
		<span class="ico">
			<svg>
				<use xlink:href="#ico-calendar"></use>
			</svg>
		</span>
	</div>

	<div class="main-search--col main-search--duration">
		<label for="main-search--duration">Durata viaggio</label>
		<select id="main-search--duration">
				<option>Qualsiasi durata</option>
				<option>1-3 notti</option>
				<option>4-6 notti</option>
				<option>7 notti</option>
				<option>8-13 notti</option>
				<option>14 notti o più</option>
			</select>
		<span class="ico">
			<svg>
				<use xlink:href="#ico-clock"></use>
			</svg>
		</span>
	</div>
	<div class="main-search--col main-search--adults">
		<label for="main-search--adults">Adulti</label>
		<select id="main-search--adults">
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		<span class="ico">
			<svg>
				<use xlink:href="#ico-adult"></use>
			</svg>
		</span>
	</div>
	<div class="main-search--col main-search--childs">
		<label for="main-search--childs">Bambini</label>
		<select id="main-search--childs">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		<span class="ico">
			<svg>
				<use xlink:href="#ico-child"></use>
			</svg>
		</span>
	</div>

	<div class="main-search--col main-search--submit">
		<button type="submit" class="btn">Cerca</button>
	</div>
</div>
