<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-auto text-center">
			<h3>{{ 'sign.title' | translate }}</h3>
			<br>
			<button type="button" class="btn btn btn-block btn-facebook" (click)="onFacebook()"><span>{{ 'sign.facebook' | translate }}</span></button><br>
			<button type="button" class="btn btn btn-block btn-google" (click)="onGoogle()"><span>{{ 'sign.google' | translate }}</span></button><br>
			<button type="button" class="btn btn btn-block btn-warning" [routerLink]="'login' | route"><span>{{ 'sign.account' | translate }}</span></button><br>
			<br>
			<button type="button" class="btn btn btn-block btn-primary" [routerLink]="'registrati' | route"><span>{{ 'sign.create' | translate }}</span></button>
		</div>
	</div>
</div>
