<h3>{{ 'sign.title' | translate }}</h3>

<button type="button" class="btn btn-facebook" [routerLink]="'registrati' | route"><span>{{ 'sign.facebook' | translate }}</span></button><br>
<button type="button" class="btn btn-google" [routerLink]="'registrati' | route"><span>{{ 'sign.google' | translate }}</span></button><br>
<button type="button" class="btn btn-warning" [routerLink]="'login' | route"><span>{{ 'sign.account' | translate }}</span></button><br>

<br>

<button type="button" class="btn btn-primary" [routerLink]="'registrati' | route"><span>{{ 'sign.create' | translate }}</span></button>
