@import "~scss/variables";

.footer {
	background: $secondary-color;
	color: #fff;
	font-size: 12px;
	line-height: 1.75;
	padding: 20px 0;

	@include xs-down {
		padding: 0 0 10px;
	}

	.container {
		display: flex;
		flex-wrap: wrap;

		&>div {
			padding: 30px 15px;

			@include md-down {
				padding: 20px 15px;
			}

			@include xs-down {
				padding: 15px;
				flex: 0 0 100% !important;
				max-width: none !important;
			}
		}
	}

	h3 {
		text-transform: uppercase;

		@include xs-down {
			font-size: 14px;
		}
	}

	&-links {
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			color: #fff;
		}
	}

	&-newsletter {
		flex: 0 0 50%;
		max-width: 50%;

		@include md-down {
			flex: 0 0 33.33%;
			max-width: 33.33%;
		}

		@include sm-down {
			flex: 0 0 50%;
			max-width: 50%;
		}

		@include xs-down {
			background: darken($secondary-color, 4%);
			padding-top: 20px !important;
			padding-bottom: 5px !important;
		}

		form {
			display: flex;
			flex-wrap: nowrap;
			max-width: 470px;
		}

		input {
			flex: 1 0 auto;
			border: none;
			background: #fff;
			padding: 5px 10px;
		}
	}

	&-seguici {
		flex: 0 0 16.66%;
		max-width: 16.66%;


		@include md-down {
			flex: 0 0 33.33%;
			max-width: 33.33%;
		}

		@include sm-down {
			flex: 0 0 50%;
			max-width: 50%;
		}

		@include md-down {
			flex: 0 0 25%;
			max-width: 25%;
		}

		@include xs-down {
			background: darken($secondary-color, 4%);
			padding-top: 0;
			padding-bottom: 25px;

			h3 {
				text-transform: none;
				font-size: 12px;
				font-weight: 400;
				display: inline-block;
				margin-right: 10px;
			}

			div {
				display: inline-block;
			}
		}

		.btn-seguici {
			background: #fff;
			white-space: nowrap;
			text-transform: uppercase;
			color: $secondary-color;
			padding: 6px 10px 8px;
			display: inline-block;
			font-weight: 600;
			text-decoration: none;

			@include xs-down {
				padding: 4px 10px 6px;
			}

			svg {
				width: 18px;
				height: 18px;
				fill: $secondary-color;
				margin-right: 6px;
				transform: translateY(4px);
			}
		}
	}

	&-volantini {
		flex: 0 0 33.33%;
		max-width: 33.33%;

		@include md-down {
			flex: 0 0 41.66%;
			max-width: 41.66%;
		}

		@include sm-down {
			flex: 0 0 50%;
			max-width: 50%;
		}

		@include xs-down {
			padding-top: 20px !important;
			padding-bottom: 25px !important;
			background: darken($secondary-color, 2%);
		}

		.btn {
			margin-left: 6px;

			@include xxs-down {
				display: block;
				margin: 8px 0 0;
			}
		}
	}

	&-disclaimer {
		flex: 0 0 33.33%;
		max-width: 33.33%;

		@include sm-down {
			flex: 0 0 50%;
			max-width: 50%;
		}

		@include xs-down {
			padding-top: 20px !important;

		}
	}

	&-condizioni {
		flex: 0 0 16.66%;
		max-width: 16.66%;

		@include md-down {
			flex: 0 0 25%;
			max-width: 25%;
		}
	}

	&-servizi {
		flex: 0 0 16.66%;
		max-width: 16.66%;

		@include md-down {
			flex: 0 0 33.33%;
			max-width: 33.33%;
		}

		@include sm-down {
			flex: 0 0 25%;
			max-width: 25%;
		}
	}

	&-copy {
		flex: 0 0 33.33%;
		max-width: 33.33%;

		@include md-down {
			flex: 0 0 58.31%;
			max-width: 58.31%;
		}

		@include sm-down {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}

	&-pagamenti {
		flex: 0 0 66.66%;
		max-width: 66.66%;

		@include md-down {
			flex: 0 0 33.33%;
			max-width: 33.33%;
		}

		@include sm-down {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}

	&-credits {
		flex: 0 0 16.66%;
		max-width: 16.66%;

		@include md-down {
			flex: 0 0 100%;
			max-width: none;
		}

		@include sm-down {
			flex: 0 0 50%;
			max-width: 50%;
			align-self: flex-end;
		}

		a {
			color: #fff;
			text-decoration: none !important;
		}
	}

}
