@import "~scss/variables";

/*--------------------------------------------------
Value Proposition
--------------------------------------------------*/

.value-proposition {
	background: #f1f1f1;
	color: #1677c0;
	text-align: center;
	padding: 35px 0 40px;

	@include xs-down {
		padding: 20px 15px;
	}

	h3 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 25px;

		@include xs-down {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}

	&--icons {
		display: flex;
		justify-content: center;
	}

	.icon {
		display: flex;
		flex: 0 0 33.33%;
		max-width: 33.33%;
		align-items: center;
		justify-content: center;

		@include xs-down {
			flex-direction: column;
		}

		svg {
			transform: scale(1.2);
			margin-right: 15px;

			@include xs-down {
				margin: 0 0 8px;
				transform: none;
			}

		}

		span {
			font-size: 16px;
			font-weight: 600;
			display: block;

			@include xs-down {
				font-size: 13px;
				line-height: 1.1;
			}

			br {
				display: none;

				@include xs-down {
					display: inline;
				}
			}
		}
	}
}
