<div class="serp-search">
	<div class="container">
		<div class="serp-filters">
			<div class="serp-filters--item">
				<svg class="ico ico-pin">
					<use xlink:href="#ico-pin"></use>
				</svg>
				<span>Mappa</span>
			</div>
			<div class="serp-filters--item">
				<svg class="ico ico-order">
					<use xlink:href="#ico-order"></use>
				</svg>
				<span>Ordina</span>
			</div>
			<div class="serp-filters--item">
				<svg class="ico ico-filter">
					<use xlink:href="#ico-filter"></use>
				</svg>
				<span>Filtra</span>
			</div>
			<div class="serp-filters--item">
				<svg class="ico ico-search">
					<use xlink:href="#ico-search"></use>
				</svg>
				<span>Modifica</span>
			</div>
		</div>
		<div class="serp-filters--popup serp-main-search">
			<div class="head">
				<div class="tit">
					Modifica ricerca
				</div>
				<a class="close">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>

			<main-search></main-search>
		</div>


	</div>
</div>

<json-formatter [json]="search.model"></json-formatter>

<section-categories></section-categories>
<section-promotions></section-promotions>
<section-promotions></section-promotions>
<section-promotions></section-promotions>
