@import "~scss/variables";

/*--------------------------------------------------
Serp Search
--------------------------------------------------*/

.serp-search {
	background: $tertiary-color;
	margin-bottom: 40px;
	position: relative;
	z-index: 100;
	user-select: none;

}


/*--------------------------------------------------
Serp Filters
--------------------------------------------------*/

.serp-filters {
	display: none;

	@include sm-down {
		display: flex;
		justify-content: space-between;

		&--item {
			flex: 0 0 25%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			color: #fff;
			font-size: 10px;
			text-transform: uppercase;
			cursor: pointer;
			padding: 8px 10px 5px;

			svg {
				width: 20px;
				height: 20px;
				fill: #fff;
			}

			.ico-pin {
				fill: transparent;
				stroke-width: 2.5px;
				stroke: #fff;
				width: 18px;
				height: 18px;
			}

			span {
				display: block;
				margin-top: 3px;
			}
		}
	}
}


.serp-filters--popup {
	display: none;

	@include sm-down {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-image: linear-gradient(to bottom, $tertiary-color, lighten($tertiary-color, 8%)) !important;

		&.active {
			display: flex;
			flex-direction: column;
		}

		.head {
			position: fixed;
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			flex: 0 0 auto;
			padding: 15px;
			color: #fff;
			font-size: 18px;
		}

		.close {
			position: absolute;
			z-index: 100;
			top: 18px;
			right: 15px;
			cursor: pointer;
			opacity: .5;

			&:hover {
				opacity: 1;
			}

			svg {
				fill: #fff;
				width: 20px;
				height: 20px;
			}
		}

		.content {
			position: fixed;
			z-index: 100;
			top: 57px;
			bottom: 59px;
			left: 0;
			width: 100%;
			z-index: 100;
			background: #fff;
			overflow-y: auto;

		}

		main-search {
			position: fixed;
			z-index: 100;
			top: 57px;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 100;
			overflow-y: auto;
		}

		.foot {
			border-top: 1px solid $border-color;
			background: #fff;
			padding: 10px 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: fixed;
			z-index: 100;
			left: 0;
			bottom: 0;
			width: 100%;


			a.btn-reset {
				color: $text-color;
			}
		}
	}

}


.serp-main-search--popup {
	@include sm-up {
		display: block;

		.head {
			display: none;
		}
	}
}


/*--------------------------------------------------
Serp Content
--------------------------------------------------*/

.serp-content {
	.container {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;

	}
}

.serp-filter {
	flex: 0 0 250px;
	display: block;
	padding: 0 15px;

	.serp-filter--sticky {
		position: -webkit-sticky;
		position: sticky;
		top: -1px;
	}

	@include sm-down {
		display: none;
	}
}

.serp-results {
	flex-grow: 1;
	padding: 0 15px;
}
