<div class="serp-search">
	<div class="container">
		<div class="serp-filters">
			<div class="serp-filters--item">
				<svg class="ico ico-pin">
					<use xlink:href="#ico-pin"></use>
				</svg>
				<span>Mappa </span> </div>
			<div class="serp-filters--item" (click)="active = popupOrder" #popupOrder>
				<svg class="ico ico-order">
					<use xlink:href="#ico-order"></use>
				</svg>
				<span>Ordina </span> </div>
			<div class="serp-filters--item" (click)="active = popupFilter" #popupFilter>
				<svg class="ico ico-filter">
					<use xlink:href="#ico-filter"></use>
				</svg>
				<span>Filtra </span> </div>
			<div class="serp-filters--item" (click)="active = popupMainSearch" #popupMainSearch>
				<svg class="ico ico-search">
					<use xlink:href="#ico-search"></use>
				</svg>
				<span>Modifica </span> </div>
		</div>
		<!-- Order Popup -->
		<div class="serp-filters--popup serp-order--popup" [ngClass]="{'active':active==popupOrder}">
			<div class="head">
				<div class="tit"> Ordina risultati </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<div class="content">
				<ul class="list">
					<li class="list--item">
						<div class="radio"> <label> <input name="order" type="radio"><span>Consigliati da Eurospin </span> </label> </div>
					</li>
					<li class="list--item">
						<div class="radio"> <label> <input name="order" type="radio"><span>Prezzo crescente </span> </label> </div>
					</li>
					<li class="list--item">
						<div class="radio"> <label> <input name="order" type="radio"><span>Prezzo decrescente </span> </label> </div>
					</li>
				</ul>
			</div>
			<div class="foot"> <a href="#" class="btn-reset">Resetta filtri </a> <a href="#" class="btn">Aggiorna </a> </div>
		</div>
		<!-- Order Popup -->
		<!-- Filter Popup -->
		<div class="serp-filters--popup serp-filter--popup" [ngClass]="{'active':active==popupFilter}">
			<div class="head">
				<div class="tit"> Filtra risultati </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<div class="content">
				<div class="popup-accordion">
					<section-filter></section-filter>
				</div>
			</div>
			<div class="foot"> <a href="#" class="btn-reset">Resetta filtri </a> <a href="#" class="btn">Aggiorna </a> </div>
		</div>
		<!-- Filter Popup -->
		<!-- Main Search Popup -->
		<div class="serp-filters--popup serp-main-search--popup" [ngClass]="{'active':active==popupMainSearch}">
			<div class="head">
				<div class="tit"> Modifica ricerca </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<main-search> </main-search>
		</div>
		<!-- Main Search Popup -->
	</div>
</div>

<!-- <json-formatter [json]="search.model"></json-formatter> -->

<div class="serp-content">
	<div class="container">
		<div class="serp-filter">
			<div class="serp-filter--sticky">
				<section-filter></section-filter>
			</div>
		</div>
		<div class="serp-results">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deleniti molestias inventore placeat sint sapiente perspiciatis, nobis repellendus ipsa, velit ab. Maiores iste ipsum distinctio placeat odio. Distinctio animi illo quaerat repudiandae accusamus blanditiis modi voluptatem, ab architecto tempora! Dignissimos nam in eaque accusantium autem labore quibusdam ipsam at adipisci, ab enim earum perspiciatis reiciendis hic eum minus sint dolore maxime molestias dolorum? Commodi quia ex, accusantium quibusdam tempora nobis similique deleniti. Illum placeat, sed minima voluptate culpa optio. Culpa ipsa beatae voluptatibus nulla placeat officiis exercitationem! Dicta id amet accusamus. Esse dicta officia voluptates temporibus totam veniam excepturi qui.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deleniti molestias inventore placeat sint sapiente perspiciatis, nobis repellendus ipsa, velit ab. Maiores iste ipsum distinctio placeat odio. Distinctio animi illo quaerat repudiandae accusamus blanditiis modi voluptatem, ab architecto tempora! Dignissimos nam in eaque accusantium autem labore quibusdam ipsam at adipisci, ab enim earum perspiciatis reiciendis hic eum minus sint dolore maxime molestias dolorum? Commodi quia ex, accusantium quibusdam tempora nobis similique deleniti. Illum placeat, sed minima voluptate culpa optio. Culpa ipsa beatae voluptatibus nulla placeat officiis exercitationem! Dicta id amet accusamus. Esse dicta officia voluptates temporibus totam veniam excepturi qui.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deleniti molestias inventore placeat sint sapiente perspiciatis, nobis repellendus ipsa, velit ab. Maiores iste ipsum distinctio placeat odio. Distinctio animi illo quaerat repudiandae accusamus blanditiis modi voluptatem, ab architecto tempora! Dignissimos nam in eaque accusantium autem labore quibusdam ipsam at adipisci, ab enim earum perspiciatis reiciendis hic eum minus sint dolore maxime molestias dolorum? Commodi quia ex, accusantium quibusdam tempora nobis similique deleniti. Illum placeat, sed minima voluptate culpa optio. Culpa ipsa beatae voluptatibus nulla placeat officiis exercitationem! Dicta id amet accusamus. Esse dicta officia voluptates temporibus totam veniam excepturi qui.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deleniti molestias inventore placeat sint sapiente perspiciatis, nobis repellendus ipsa, velit ab. Maiores iste ipsum distinctio placeat odio. Distinctio animi illo quaerat repudiandae accusamus blanditiis modi voluptatem, ab architecto tempora! Dignissimos nam in eaque accusantium autem labore quibusdam ipsam at adipisci, ab enim earum perspiciatis reiciendis hic eum minus sint dolore maxime molestias dolorum? Commodi quia ex, accusantium quibusdam tempora nobis similique deleniti. Illum placeat, sed minima voluptate culpa optio. Culpa ipsa beatae voluptatibus nulla placeat officiis exercitationem! Dicta id amet accusamus. Esse dicta officia voluptates temporibus totam veniam excepturi qui.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deleniti molestias inventore placeat sint sapiente perspiciatis, nobis repellendus ipsa, velit ab. Maiores iste ipsum distinctio placeat odio. Distinctio animi illo quaerat repudiandae accusamus blanditiis modi voluptatem, ab architecto tempora! Dignissimos nam in eaque accusantium autem labore quibusdam ipsam at adipisci, ab enim earum perspiciatis reiciendis hic eum minus sint dolore maxime molestias dolorum? Commodi quia ex, accusantium quibusdam tempora nobis similique deleniti. Illum placeat, sed minima voluptate culpa optio. Culpa ipsa beatae voluptatibus nulla placeat officiis exercitationem! Dicta id amet accusamus. Esse dicta officia voluptates temporibus totam veniam excepturi qui.</p>
		</div>
	</div>
</div>
