<div class="container">
	<h3>{{ 'signUp.title' | translate }}</h3>

	<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="facebook">
		<img [src]="facebook.picture.data.url" /> <strong>Logged in with Facebook as {{facebook.name}}</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onFacebookLogout()">
		  <span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="google">
		<img [src]="google.picture" /> <strong>Logged in with Google as {{google.name}}</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onGoogleLogout()">
		  <span aria-hidden="true">&times;</span>
		</button>
	</div>

	<form name="signUp" role="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()" #signUp="ngForm" [hidden]="submitted">
		<div class="form-group">
			<label for="name">{{ 'signUp.name' | translate }} <sup>*</sup></label>
			<input type="text" class="form-control" required [(ngModel)]="model.name" name="name" placeholder="{{ 'signUp.name' | translate }}" #name="ngModel" #input>
			<div [hidden]="name.valid || name.pristine" class="alert alert-danger">{{ 'errors.required' | translate }}</div>
			<b>### Utilizzare le classi di stato degli input -> [{{input.className}}]###</b><br>
		</div>
		<div class="form-group">
			<label for="surname">{{ 'signUp.surname' | translate }} <sup>*</sup></label>
			<input type="text" class="form-control" required [(ngModel)]="model.surname" name="surname" placeholder="{{ 'signUp.surname' | translate }}" #surname="ngModel">
			<div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">{{ 'errors.required' | translate }}</div>
		</div>
		<div class="form-group">
			<label for="email">{{ 'signUp.email' | translate }} <sup>*</sup></label>
			<input type="email" class="form-control" required email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" match="emailConfirm" reverse="true" [(ngModel)]="model.email" name="email" placeholder="{{ 'signUp.email' | translate }}" #email="ngModel">
			<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
				<div *ngIf="email.errors.required">{{ 'errors.required' | translate }}</div>
				<div *ngIf="email.errors.email">{{ 'errors.email' | translate }}</div>
			</div>
			<small class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
			<label for="emailConfirm">{{ 'signUp.emailConfirm' | translate }} <sup>*</sup></label>
			<input type="email" class="form-control" required email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" match="email" [(ngModel)]="model.emailConfirm" name="emailConfirm" placeholder="{{ 'signUp.emailConfirm' | translate }}" #emailConfirm="ngModel">
			<div *ngIf="emailConfirm.invalid && (emailConfirm.dirty || emailConfirm.touched)" class="alert alert-danger">
				<div *ngIf="emailConfirm.errors.required">{{ 'errors.required' | translate }}</div>
				<div *ngIf="emailConfirm.errors.email">{{ 'errors.email' | translate }}</div>
				<div *ngIf="emailConfirm.errors.match">{{ 'errors.match' | translate }}</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password">{{ 'signUp.password' | translate }} <sup>*</sup> <small class="form-text text-muted">{{ 'signUp.passwordHint' | translate }}</small></label>
			<input [type]="passwordReveal.value ? 'text' : 'password'" class="form-control" required minlength="6" [(ngModel)]="model.password" name="password" placeholder="{{ 'signUp.password' | translate }}" #password="ngModel">
			<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
				<div *ngIf="password.errors.required">{{ 'errors.required' | translate }}</div>
				<div *ngIf="password.errors.minlength">{{ 'errors.minlength' | translate }}</div>
			</div>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" [(ngModel)]="model.passwordReveal" name="passwordReveal" #passwordReveal="ngModel">
			<label class="form-check-label" for="passwordReveal">{{ 'signUp.passwordReveal' | translate }}</label>
		</div>
		<a>{{ 'signUp.privacyLink' | translate }}</a>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" [(ngModel)]="model.privacyAccepted" name="privacyAccepted">
			<label class="form-check-label" for="privacyAccepted">{{ 'signUp.privacy' | translate }}</label>
		</div>
		<button type="submit" class="btn btn-primary" [disabled]="!signUp.form.valid">{{ 'signUp.register' | translate }}</button>
	</form>
	<!--
	<select class="form-control" id="power" required>
    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
  </select>
-->
</div>
