<div id="search-component">
	<h4>Region Search</h4>
	<form class="form-inline">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #searchBox (keyup)="search(searchBox.value)">
		<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
	</form>
	<ul class="list-group">
		<li class="list-group-item list-group-item-action" *ngFor="let region of regions$ | async" routerLink="/region/{{region.id}}">
			<span>{{region.name}}</span>
		</li>
	</ul>
</div>
