@import "~scss/variables";

/*--------------------------------------------------
Promotions
--------------------------------------------------*/

.promotions {
	margin: 60px 0 120px;

	@include xs-down {
		margin: 40px 0 80px;
	}

	@include xxs-down {
		margin: 20px 0 40px;
	}

	&--card {

		.card {
			display: block;
			width: 100%;
			background: #fff;
			box-shadow: 0 3px 7px rgba(0, 0, 0, .15);
			text-decoration: none;

			@include xxs-down {
				margin-bottom: 25px;
			}

			&:hover {
				text-decoration: none;
			}

			&--figure {
				display: block;
				width: 100%;
				overflow: hidden;
				height: 0;
				padding-bottom: 56.25%;
				margin: 0;
				position: relative;
				z-index: 1;
				background: #f1f1f1;

				img {
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					max-width: none;
				}
			}

			&--body {
				padding: 15px 12px;

				@include sm-down {
					padding: 12px 10px;
				}

				h3 {
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 600;
					color: $tit-color;
					margin: 0;

					@include sm-down {
						font-size: 14px;
					}
				}
			}
		}

	}

}
