@import "~scss/variables";

/*--------------------------------------------------
Form
--------------------------------------------------*/

/*--------------------------------------------------
Select
--------------------------------------------------*/

.custom-select {
	position: relative;
	z-index: 1;

	select {
		padding-right: 20px !important;
		background-color: transparent;
	}

	&:before {
		content: '';
		position: absolute;
		top: 9px;
		right: 0;
		border-top: 5px solid #333;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		pointer-events: none;
	}
}

/*--------------------------------------------------
Checkbox
--------------------------------------------------*/

.checkbox,
.radio {

	label {
		display: block;
		position: relative;
		z-index: 1;
		overflow: hidden;
		min-height: 14px;
		cursor: pointer;
		user-select: none;

		input {
			position: absolute;
			z-index: 1;
			left: -10px;
			top: -10px;
			opacity: .01;

			&+span {
				display: inline-block;
				padding-left: 20px;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					width: 14px;
					height: 14px;
					border: 1px solid #b7b7b7;
					background: #fff;
					border-radius: 2px;
				}

				&:after {
					content: '';
					position: absolute;
					z-index: 1;
					left: 2px;
					top: 3px;
					border: 3px solid $primary-color;
					border-radius: 1px;
					border-top: none;
					border-right: none;
					width: 10px;
					height: 6px;
					transform: rotate(-45deg);
					opacity: 0;
				}
			}

			&[type="radio"] {
				&+span {

					&:before {
						border-radius: 50%;
					}

					&:after {
						content: '';
						position: absolute;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						left: 3px;
						top: 3px;
						background: $primary-color;
						transform: none;
					}
				}
			}

			&:checked {
				&+span {
					&:after {
						opacity: 1;
					}
				}
			}
		}


	}


}



/*--------------------------------------------------
Ui Spinner
--------------------------------------------------*/

.ui-spinner {
	flex: 0 1 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.ui-spinner-input {
		flex: 0 0 30px;
		width: 30px;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		color: $text-color;
		padding: 0;
		margin: 0;
		background: transparent;
		border: none;
		outline: 0;
		order: 2;
	}

	.ui-spinner-button {
		flex: 0 0 24px;
		width: 24px;
		background-color: transparent;
		margin: 0;
		padding: 0;
		border: none;
		color: $primary-color;
		font-size: 20px;
		display: flex;
		align-items: center;

		span {
			display: inline-block;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: 2px solid $primary-color;
			cursor: pointer;
			line-height: 1;
			font-weight: 600;

			&:before {
				display: block;
			}
		}
	}

	.ui-spinner-down {
		order: 1;

		span {
			&:before {
				content: '-';
				transform: translateY(-2px);
			}
		}
	}

	.ui-spinner-up {
		order: 3;

		span {
			&:before {
				content: '+';
			}
		}
	}
}
