//--------------------------------------------------
// Colors
//--------------------------------------------------
$primary-color: #f47c22;
$secondary-color: #004d9a;
$text-color: #5f5d63;
$tit-color: #062638;


//--------------------------------------------------
// Media Query
//--------------------------------------------------
$lg-width: 1560px;
$md-width: 1199px;
$sm-width: 991px;
$xs-width: 767px;
$xxs-width: 575px;

@mixin lg-down {
	@media (max-width: #{$lg-width}) {
		@content;
	}
}

@mixin md-down {
	@media (max-width: #{$md-width}) {
		@content;
	}
}

@mixin sm-down {
	@media (max-width: #{$sm-width}) {
		@content;
	}
}

@mixin xs-down {
	@media (max-width: #{$xs-width}) {
		@content;
	}
}

@mixin xxs-down {
	@media (max-width: #{$xxs-width}) {
		@content;
	}
}

@mixin lg-up {
	@media (min-width: #{$lg-width}) {
		@content;
	}
}

@mixin md-up {
	@media (min-width: #{$md-width}) {
		@content;
	}
}

@mixin sm-up {
	@media (min-width: #{$sm-width}) {
		@content;
	}
}

@mixin xs-up {
	@media (min-width: #{$xs-width}) {
		@content;
	}
}

@mixin xxs-up {
	@media (min-width: #{$xxs-width}) {
		@content;
	}
}
