@import "~scss/variables";

/*--------------------------------------------------
Categories
--------------------------------------------------*/

.categories {

	&--card {
		.card {
			display: block;
			width: 100%;
			box-shadow: 0 3px 7px rgba(0, 0, 0, .15);
			text-decoration: none;
			position: relative;
			z-index: 1;
			margin-bottom: 40px;

			@include xxs-down {
				margin-bottom: 25px;
			}

			&:hover {
				text-decoration: none;
			}

			&--figure {
				display: block;
				width: 100%;
				overflow: hidden;
				height: 0;
				padding-bottom: 56.25%;
				margin: 0;
				position: relative;
				z-index: 1;
				background: #f1f1f1;

				img {
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					max-width: none;
				}
			}

			&--body {
				position: absolute;
				z-index: 2;
				width: 100%;
				left: 0;
				bottom: 0;
				padding: 15px 12px;

				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
					height: 150%;
					bottom: 0;
					left: 0;
					width: 100%;
				}

				@include sm-down {
					padding: 12px 10px;
				}

				h3 {
					text-transform: uppercase;
					font-size: 20px;
					font-weight: 600;
					color: #fff;
					margin: 0;
					text-align: center;

					@include md-down {
						font-size: 16px;
					}

					@include sm-down {
						font-size: 14px;
					}
				}
			}
		}

	}

}
